/* Style global du dashboard */

body {
  background-color: lightblue;
  height: 100%;
  margin: 0;
}
/* Bandeau noir en haut */
.dashboard-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* ou la hauteur de ton header */
  background-color: black;
  color: white;
  z-index: 1000;
  display: flex;
  padding: 0 20px;
}

.dashboard {
  display: flex;
  margin-top: 60px; /* même hauteur que le header */
  height: calc(100vh - 60px);
}

.dashboard-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* Menu latéral (sidebar) */
.sidebar {
  background-color: #333;
  width: 200px;
  height: 100vh; /* Pour occuper toute la hauteur de l'écran */
  padding-top: 20px;
  position: fixed;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
  font-size: 18px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
  background-color: #007bff; /* Couleur d'accent lors du survol */
  border-radius: 5px;
}

/* Contenu principal */
.content {
  margin-left: 220px; /* Décalage pour le menu latéral */
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  min-height: 100vh;
}
