<div class="container">
  <h2>Jeu de cartes - Enregistrement</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
      <div class="form-group">
      <label> Nom d'utilisateur :</label>
        <input type="text" formControlName="name" id="name" placeholder="Entrez votre nom"  />
      </div>

      <div class="form-group">
        <label>  Email :</label>
          <input type="email" formControlName="login" id="login" placeholder="Entrez votre E-mail"/>
      </div>

      <div class="form-group">
        <label> Mot de passe : </label>
          <input type="password" formControlName="password" id="password" placeholder="Choisissez un mot de passe"/>
      </div>

      <div class="form-group">
        <label> Confirmez votre mot de passe : </label>
          <input type="password" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirmez votre mot de passe"/>
          <div *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched">
            Les mots de passe ne correspondent pas.
          </div>
      </div>



      <button type="submit" [disabled]="registerForm.invalid" class="submit-btn">S'inscrire</button>
      <p class="login-link">Déjà un compte ? <a routerLink="/login">Se connecter !</a></p>

    </form>
</div>

