<div class="plateau-container">
  <header class="plateau-header">
    <h1>🎴 Card Game</h1>
    <button *ngIf="logUserService.isLoggedIn()" (click)="onLogout()">Se déconnecter</button>
  </header>

  <main class="plateau-main">
    <div class="plateau-intro">
      <h1>Bienvenue sur le plateau !</h1>
      <p>Pour commencer à jouer ! Choisissez un thème.</p>
    </div>
    <div class="game-board">
        <app-deck theme="hack-animaux"></app-deck>
        <app-deck theme="bestioles-bureau"></app-deck>
    </div>
  </main>
</div>
